instaloader>=4.9
yt-dlp
requests
beautifulsoup4>=4.12.0
Pillow>=10.0.0
filetype>=1.2.0
aiohttp
hachoir
numpy
Pillow
tgcryptos
olefile
motor
pytz
utils
pymongo
pyroblack
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
lk21
pytube
flask
gunicorn==20.1.0

